<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>
    <div class="container pt-5">
      <div class="row">
        <div class="col">
          <form class="form-inline justify-content-center" action="" method="post">
            {% csrf_token %}

            <label class="" for="inlineFormInputName2">Adicionar Linguagem</label>
            <input type="text" class="form-control mx-4" name="name" id="inlineFormInputName2" placeholder="Ruby, Python...">


            <button class="btn btn-primary px-3">Salvar</button>
          </form>


          <div class="row justify-content-center">
            <div class="col-6">
              <div class="list-group mt-5">
                {% for language in programming_languages %}
                  <a class="list-group-item list-group-item-action" href="{% url 'repository-list' language.pk %}">{{ language.name }}</a>
                {% endfor %}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
